* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  font-family: 'Roboto Slab';
  button {
    font-family: 'Roboto Slab';
    cursor: pointer;
  }
  hr {
    border-bottom: 1px solid #dedede;
  }
  i.icon {
    &.back {
      width: 34px / 2;
      height: 30px / 2;
      background: url(../img/back.png) no-repeat;
      background-size: 100%;
      display: inline-block;
      vertical-align: -3px;
    }
    &.ava {
      width: 138px / 2;
      height: 138px / 2;
      background: url(../img/ava.png) no-repeat;
      background-size: 100%;
      display: block;
      margin: 0 auto;
    }
    &.vk {
      width: 247px/2;
      height: 44px/2;
      background: url(../img/vk.png) no-repeat;
      background-size: 100%;
      display: block;
      margin: 0 auto;
    }
    &.fb {
      width: 206px/2;
      height: 41px/2;
      background: url(../img/fb.png) no-repeat;
      background-size: 100%;
      display: block;
      margin: 0 auto;
    }
    &.menu {
      width: 33px / 2;
      height: 28px / 2;
      background: url(../img/menu.png) no-repeat;
      background-size: 100%;
      display: inline-block;
      vertical-align: -3px;
      margin: 0 0 0 10px;
    }
    &.close {
      width: 28px / 2;
      height: 28px / 2;
      background: url(../img/close.png) no-repeat;
      background-size: 100%;
      display: inline-block;
      vertical-align: -3px;
      margin: 0 0 0 10px;
    }
    &.close1 {
      width: 41px/2;
      height: 41px/2;
      background: url(../img/close1.png) no-repeat;
      background-size: 100%;
      display: block;
    }
    &.wallet {
      width: 32px / 2;
      height: 32px / 2;
      background: url(../img/wellet.png) no-repeat;
      background-size: 100%;
      display: inline-block;
      vertical-align: -2px;
      margin: 0 27px/2 0 0;
    }
    &.to {
      width: 16px/2;
      height: 25px/2;
      background: url(../img/to.png) no-repeat;
      background-size: 100%;
      display: block;
    }
    &.to_gray {
      width: 16px/2;
      height: 25px/2;
      background: url(../img/to_gray.png) no-repeat;
      background-size: 100%;
      display: block;
    }
    &.m1 {
      background: url('../img/1.png') no-repeat scroll top left;
      width: 30px/2;
      height: 32px/2;
      background-size: 100%;
      display: inline-block;
      vertical-align: -3px/2;
    }
    &.m2 {
      background: url('../img/2.png') no-repeat scroll top left;
      width: 32px/2;
      height: 32px/2;
      background-size: 100%;
      display: inline-block;
      vertical-align: -2px;
    }
    &.m3 {
      background: url('../img/3.png') no-repeat scroll top left;
      width: 28px/2;
      height: 23px/2;
      background-size: 100%;
      display: inline-block;
      vertical-align: -3px/2;
    }
    &.m4 {
      background: url('../img/4.png') no-repeat scroll top left;
      width: 24px/2;
      height: 32px/2;
      background-size: 100%;
      display: inline-block;
      vertical-align: -5px/2;
    }
    &.m5 {
      background: url('../img/5.png') no-repeat scroll top left;
      width: 32px/2;
      height: 30px/2;
      background-size: 100%;
      display: inline-block;
      vertical-align: -3px/2;
    }
    &.m6 {
      background: url('../img/6.png') no-repeat scroll top left;
      width: 30px/2;
      height: 32px/2;
      background-size: 100%;
      display: inline-block;
      vertical-align: -2px;
    }
    &.m7 {
      background: url('../img/7.png') no-repeat scroll top left;
      width: 34px/2;
      height: 32px/2;
      background-size: 100%;
      display: inline-block;
    }
    &.m8 {
      background: url('../img/8.png') no-repeat scroll top left;
      width: 26px/2;
      height: 26px/2;
      background-size: 100%;
      display: inline-block;
    }
    &.m9 {
      background: url('../img/9.png') no-repeat scroll top left;
      width: 27px/2;
      height: 25px/2;
      background-size: 100%;
      display: inline-block;
    }
    &.hamb {
      background: url('../img/hamb.png') no-repeat scroll top left;
      width: 56px/2;
      height: 49px/2;
      background-size: 100%;
      display: inline-block;
      vertical-align: -13px/2;
      margin: 0 2px;
    }
    &.hamb_big {
      background: url('../img/hamb_big.png') no-repeat scroll top left;
      width: 116px/2;
      height: 99px/2;
      background-size: 100%;
      display: inline-block;
    }
    &.check {
      background: url('../img/check.png') no-repeat scroll top left;
      width: 24px/2;
      height: 23px/2;
      background-size: 100%;
      display: inline-block;
    }
    &.clock {
      background: url('../img/clock.png') no-repeat scroll top left;
      width: 23px/2;
      height: 23px/2;
      background-size: 100%;
      display: inline-block;
      vertical-align: -1px;
    }
    &.cup {
      background: url('../img/cup.png') no-repeat scroll top left;
      width: 24px/2;
      height: 27px/2;
      background-size: 100%;
      display: inline-block;
      vertical-align: -2px;
    }
    &.reward {
      background: url('../img/reward.png') no-repeat scroll top left;
      width: 17px/2;
      height: 28px/2;
      background-size: 100%;
      display: inline-block;
      vertical-align: -3px;
    }
    &.map {
      background: url('../img/map.png') no-repeat scroll top left;
      width: 32px/2;
      height: 42px/2;
      background-size: 100%;
      display: inline-block;
    }
    &.price {
      background: url('../img/price.png') no-repeat scroll top left;
      width: 25px/2;
      height: 25px/2;
      background-size: 100%;
      display: inline-block;
      vertical-align: -5px/2;
      margin: 0 17px/2 0 3px/2;
      &.red {
        background: url('../img/price_red.png') no-repeat scroll top left;
        background-size: 100%;
      }
    }
    &.timer {
      background: url('../img/timer.png') no-repeat scroll top left;
      width: 28px/2;
      height: 28px/2;
      background-size: 100%;
      display: inline-block;
      vertical-align: -2px;
      margin: 0 17px/2 0 0;
      &.red {
        background: url('../img/timer_red.png') no-repeat scroll top left;
        background-size: 100%;
      }
    }
    &.p_count {
      background: url('../img/count.png') no-repeat scroll top left;
      width: 16px/2;
      height: 22px/2;
      background-size: 100%;
      display: inline-block;
      vertical-align: -1px/2;
      margin: 0 24px/2 0 5px/2;
      &.red {
        background: url('../img/p_count_red.png') no-repeat scroll top left;
        background-size: 100%;
      }
    }
    &.hand {
      background: url('../img/hand.png') no-repeat;
      background-size: 100%;
      width: 149px/2;
      height: 55px/2;
      display: block;
      position: absolute;
      top: 20px;
      left: -9px;
      &.right {
        background: url('../img/hand_right.png') no-repeat;
        background-size: 100%;
        left: auto;
        right: -9px;
      }
    }
    &.lock {
      width: 45px/2;
      height: 52px/2;
      background: url('../img/lock.png') no-repeat;
      background-size: 100%;
      display: inline-block;
    }
    &.ac {
      width: 115px/2;
      height: 115px/2;
      background: url('../img/ac.png') no-repeat;
      background-size: 100%;
      display: block;
      text-align: center;
      float: left;
      position: relative;
      padding: 32px/2 0 0 0;
      i.c {
        position: absolute;
        top: 25px/2;
        right: 25px/2;
        height: 10px;
        min-width: 10px;
        color: #fff;
        background: #b20c35;
        font-size: 9px;
        border-radius: 10px;
        line-height: 10px;
      }
      &.p {
        background: url('../img/acp.png') no-repeat;
        background-size: 100%;
        padding: 27px/2 0 0 0;
      }
    }
    &.error {
      width: 284px/2;
      height: 223px/2;
      background: url('../img/error.png') no-repeat;
      background-size: 100%;
      display: block;
      position: absolute;
      top: -189px/2;
      left: 50%;
      margin: 0 0 0 -284px/4;
    }
    &.inf {
      width: 239px/2;
      height: 239px/2;
      background: url('../img/inf.png') no-repeat;
      background-size: 100%;
      display: block;
      position: absolute;
      top: -206px/2;
      left: 50%;
      margin: 0 0 0 -239px/4;
    }
    &.sure {
      width: 234px/2;
      height: 233px/2;
      background: url('../img/sure.png') no-repeat;
      background-size: 100%;
      display: block;
      position: absolute;
      top: -203px/2;
      left: 50%;
      margin: 0 0 0 -234px/4;
    }
    &.ok {
      width: 239px/2;
      height: 240px/2;
      background: url('../img/sure.png') no-repeat;
      background-size: 100%;
      display: block;
      position: absolute;
      top: -197px/2;
      left: 50%;
      margin: 0 0 0 -239px/4;
    }
    &.ul_check {
      background: url('../img/ul_check.png') no-repeat;
    }
    &.ul_uncheck {
      background: url('../img/ul_uncheck.png') no-repeat;
    }
    &.ul_check, &.ul_uncheck {
      width: 33px/2;
      height: 33px/2;
      background-size: 100%;
      display: block;
    }
    &.pop_line {
      width: 546px/2;
      height: 104px/2;
      background: url('../img/pop_line.png') no-repeat;
      background-size: 100%;
      display: block;
      margin: 4px auto 0;
      text-align: center;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 25px;
      padding: 6px 0 0;
    }
    &.zv {
      width: 605px/2;
      height: 142px/2;
      background: url('../img/zv.png') no-repeat;
      background-size: 100%;
      display: block;
      margin: 0 auto;
      text-align: center;
      padding: 12px 0 0 0;
      font-size: 18px;
      color: #ff4800;
      text-transform: uppercase;
      font-weight: bold;
      span {
        display: block;
        font-size: 55px;
        margin: -18px 0 0 0;
      }
    }
  }
  a {
    color: #ec8d00;
    &:hover {
      text-decoration: none;
    }
  }
  .uiswitch {
    width: 51px;
    height: 32px;
    border-radius: 50px;
    background: #eee;
    display: inline-block;
    padding: 2px;
    cursor: pointer;
    transition: all 0.2s ease;
    outline: none;
    &:focus { outline: none; }
    .handle {
      height: 28px;
      width: 28px;
      background: #ffffff;
      border-radius: 28px;
      box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
    }
    &.active {
      background: #fda016;
      padding-left: 21px;
    }
  }
  &.ovh {
    overflow: hidden;
  }
}

.btn_orange {
  background: linear-gradient(to bottom, #ffb234 0%,#fc9400 100%);
  height: 44px;
  line-height: 44px;
  display: block;
  margin: 0 auto;
  color: #fff;
  font-size: 17px;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
  box-shadow: inset 0 -1px 1px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  width: 430px / 2;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  /*&:hover {
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.2);
    background: #dd820b;
  }*/
}
.btn_gray {
  .btn_orange;
  width: auto;
  background: linear-gradient(to bottom, #d8d8d8 0%, #bebebe 100%);
  color: #000000;
  text-shadow: 0 1px 0 #fff;
  /*&:hover {
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.3);
    background: #9c9c9c;
  }*/
}
.btn_vk {
  .btn_orange;
  margin: 0 0 32px / 2;
  width: auto;
  background: linear-gradient(to bottom, #4d75a3 0%, #336196 100%);
  padding: 11px 0 0 0;
  /*&:hover {
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.3);
    background: #214f96;
  }*/
}
.btn_fb {
  .btn_orange;
  margin: 0 0 54px / 2;
  width: auto;
  background: linear-gradient(to bottom, #5879c2 0%, #3f5d9d 100%);
  padding: 10px 0 0 0;
  /*&:hover {
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.3);
    background: #2f4799;
  }*/
}

.title {
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 33px / 2;
  a {
    float: left;
  }
  a.r {
    float: right;
    margin: 0 16px 0 0;
  }
}
.box {
  background: url(../img/bg.png) repeat;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  padding: 19px / 2;
  margin: 0 0 10px;
  &.blue {
    background: #276ca8;
    .white {
      background: none;
      border: none;
      color: #fff;
      padding: 21px/2;
      padding-bottom: 5px !important;
      img {
        width: 470px/2;
        display: block;
        margin: 10px auto 0;
      }
    }
  }
  .white {
    background: #fff;
    border: 1px solid #dedede;
    border-radius: 3px;
    padding: 21px / 2;
    &.p {
      padding-top: 96px/2;
    }
    &.q {
      background: #fff url(../img/q.png) 50% 9px no-repeat;
    }
    &.text {
      padding: 20px;
      h3 {
        font-size: 15px;
        margin: 0 0 10px;
        font-weight: bold;
      }
      p {
        font-size: 12px;
        line-height: 16.5px;
        font-weight: 200;
      }
    }
    &.mission {
      h2 {
        font-size: 38px/2;
        font-weight: bold;
      }
    }
    &.achievements {
      h2 {
        font-size: 38px/2;
        font-weight: bold;
        a {
          color: #19558a;
        }
        span {
          color: #d1d1d1;
        }
      }
    }
  }
  .avatar {
    width: 247px/2;
    height: 247px/2;
    margin: 0 auto 71px/2;
    background: #fff;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.15);
    border-radius: 7px;
    padding: 10px;
    .w {
      background: #f2f2f2;
      height: 207px/2;
      padding: 35px/2 0 0 0;
      border-radius: 3px;
    }
  }
  .agree {
    text-align: center;
    font-size: 11px;
    font-weight: 200;
    line-height: 38px / 2;
    p {
      margin: 10px 0 10px;
    }
  }
}
div.menu {
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  margin: 0 0 10px;
  background: #fff;
  b.r {
    position: absolute;
    display: block;
    width: 16px/2;
    height: 25px/2;
    top: 50%;
    right: 11.5px;
    margin: -25px/2/2 0 0 0;
  }
  div.wallet {
    background: linear-gradient(to bottom, #ac0038 0%, #93002f 100%);
    border-radius: 5px 5px 0 0;
    height: 44px;
    line-height: 44px;
    font-size: 17px;
    padding: 0 23px/2;
    position: relative;
    span {
      font-weight: bold;
      text-transform: uppercase;
      padding: 0 0 0 25px;
    }
    a {
      color: #fff;
    }
  }
  .user_field {
    overflow: hidden;
    position: relative;
    color: #093357;
    margin: 0 23px/2;
    padding: 7px 0;
    border-bottom: 1px solid #c1c1c1;
    p {
      margin: 0 0 0 75px;
      padding: 0 0 8px 0;
      &.name {
        font-size: 14px;
        font-weight: bold;
        color: #000;
        padding: 4px 0 6px 0;
        display: block;
      }
      span {
        font-size: 12px;
        color: #000;
        padding: 0 5px 0 0;
        em {color: #0d4d84;}
        i.icon {vertical-align: -1px;margin: 0 5px 0 0;}
      }
    }
    img {
      width: 62px;
      float: left;
    }
    b.r {
      right: 0;
    }
    .line {
      height: 8.5px;
      background: #a6cbea;
      margin: 0 17px 0 75px;
      .active {
        height: 8.5px;
        background: #0c4c83;
        width: 45%;
      }
    }
  }
  .dl_field {
    position: relative;
    a { color: #093357; }
    margin: 0 23px/2;
    padding: 7px 0;
    border-bottom: 1px solid #c1c1c1;
    span.m {
      float: right;
      margin: 2px 22px 0 0;
      font-size: 14px;
      color: #000;
      i {
        color: #e10000;
      }
    }
    p {
      font-size: 12px;
      color: #7c7c7c;
      padding: 5px 0 2px 0;
    }
    div.icon {
      width: 58px/2;
      float: left;
      margin: 0 0 10px;
    }
    b.r {
      right: 0;
    }
  }
  .field {
    position: relative;
    height: 87px/2;
    line-height: 87px/2;
    a { color: #093357; }
    margin: 0 23px/2;
    border-bottom: 1px solid #c1c1c1;
    &:last-child {border: none;}
    div.icon {
      width: 58px/2;
      float: left;
    }
    b.c {
      float: right;
      margin: 0 22px 0 0;
      font-size: 12px;
      color: #19558a;
    }
    i.count {
      height: 49px/2;
      line-height: 49px/2;
      padding: 0 8px;
      color: #0c4c83;
      min-width: 49px/2;
      text-align: center;
      margin: 9px 22px 0 0;
      background: #d5d5d5;
      float: right;
      font-size: 15px;
      border-radius: 20px;
    }
    b.r {
      right: 0;
    }
  }
  a {
    text-decoration: none;
    display: block;
  }
}
.login {
  background: #f5970e;
  padding: 35px 9px 9px 9px;
}
.welcome_page {
  background: #f4f4f8;
  section.carusel {
    background: #1187c4;
    text-align: center;
    font-weight: 200;
    padding: 55px 0 0 0;
    color: #fff;
    overflow: hidden;
    box-shadow: 0 0 30px #004568;
    margin: 0 0 35px;
    img {
      display: block;
      margin: 0 auto 15px;
      width: 553px / 2;
    }
    h4 {
      font-size: 14px;
      line-height: 17px;
      margin: 0 0 15px;
    }
    p {
      font-size: 10px;
      line-height: 14px;
      margin: 0 0 30px;
    }
    .item {
      padding: 0 30px;
    }
    .owl-controls {
      margin: 0 0 20px;
      .owl-page {
        span {
          background: #fff;
          width: 8px;
          height: 8px;
          margin: 0 4px;
        }
        &.active {
          span {
          
          }
        }
      }
    }
  }
  .btns {
    text-align: center;
    .btn_orange {
      margin-bottom: 30px;
    }
    p {
      font-weight: 200;
      font-size: 13px;
      margin: 0 0 30px;
      a {
        color: #ec8d00;
        &:hover {text-decoration: none;}
      }
    }
  }
}
.inner {
  background: #0c4c83;
  padding: 35px 9px 9px 9px;
}
.missions {
  background: #f5970e;
  padding: 35px 9px 9px 9px;
}
.mission_elem {
  margin: 12px 0 0 0;
  h3 {
    font-size: 16px;
    font-weight: bold;
    margin: 0 0 15px;
  }
  img {
    width: 144px/2;
    float: left;
    margin: 0 0 10px;
    border-radius: 5px;
  }
  ul.checklist {
    margin: -3px 0 10px 168px/2;
    li {
      border-bottom: 1px solid #ead4da;
      font-size: 13px;
      color: #3f3f3f;
      //font-weight: 200;
      line-height: 18px;
      margin: 0 0 4px;
      padding: 0 0 4px;
      i.check {
        float: right;
        margin: 3px 0 0 10px;
      }
      &:last-child {border: none;margin: 0;}
    }
  }
  a.btn_orange, a.btn_gray {
    width: 100%;
    clear: both;
    &.mt {
      margin: 10px 0 0 0;
    }
  }
  div.reward {
    clear: both;
    overflow: hidden;
    font-size: 13px;
    margin: 0 0 10px;
    color: #0d4d84;
    em {
      color: #b20c35;
    }
    span {
      width: 33.3%;
      display: block;
      float: left;
      i.icon {
        margin: 0 6.5px 0 0;
      }
    }
  }
}
.shop_elem {
  .mission_elem;
  ul.checklist {
    li {
      border: none;
      span {
        color: #0d4d84;
      }
    }
  }
}
.news_elem {
  margin: 0 0 14px;
  &:last-child {margin: 0;}
  h2 {
    margin: 0 0 10px;
    font-weight: bold;
    font-size: 16px;
  }
  img {
    width: 100%;
    margin: 0 0 7px;
  }
  p {
    font-size: 13px;
    color: #3f3f3f;
    line-height: 18px;
    &.date {
      font-size: 11px;
      color: #3f3f3f;
    }
  }
}
.restaurants_elem {
  margin: 20px 0 0 0;
  h2 {
    font-size: 37px/2;
    font-weight: bold;
    margin: 0 0 10px;
  }
  ul {
    li {
      position: relative;
      font-size: 15px;
      color: #3f3f3f;
      height: 30px;
      line-height: 30px;
      border-bottom: 1px solid #e5e5e5;
      &:last-child {border: none;}
      i.round {
        width: 32px/2;
        height: 32px/2;
        display: inline-block;
        border: 3px solid #fff;
        border-radius: 20px;
        margin: 0 15px 0 0;
        vertical-align: -4px;
        &.blue {border-color: #003aa5;}
        &.red {border-color: #ec0d3c;}
        &.green {border-color: #03ac2f;}
      }
      span {
        float: right;
        width: 162px/2;
      }
      b.r {
        position: absolute;
        display: block;
        width: 16px/2;
        height: 25px/2;
        top: 50%;
        right: 0;
        margin: -25px/2/2 0 0 0;
      }
    }
  }
}
.cash-box {
  background: #fff;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.25);
  margin: 0 0 10px;
  border-radius: 5px;
  .t {
    background: linear-gradient(to bottom, #ac0038 0%, #93002f 100%);
    border-radius: 5px 5px 0 0;
    height: 44px;
    color: #fff;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    line-height: 44px;
    font-size: 17px;
  }
  .data {
    position: relative;
    padding: 13px 15px 15px;
    h1 {
      font-size: 74px/2;
      font-weight: bold;
      color: #0c4c83;
      text-align: center;
      margin: 0 0 15px;
    }
    p {
      font-size: 13px;
      color: #3f3f3f;
      line-height: 18px;
      margin: 0 0 18px;
      a {color: #0c4c83;}
      &:last-child {margin: 0;}
    }
  }
}
.achievement {
  overflow: hidden;
  margin: 10px 0 0 0;
  .d {
    margin: 0 0 0 108px/2;
    padding: 5px 0 0 0;
    .name {
      font-weight: bold;
      font-size: 12px;
      margin: 0 0 5px;
    }
    .line {
      background: #a6cbea;
      height: 29px/2;
      &.p {
        background: #dadada;
      }
      .active {
        height: 29px/2;
        width: 35%;
        background: #0c4c83;
      }
    }
  }
}
aside {
  transition: all 0.2s ease;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: -100%;
  background: #f5970e;
  padding: 35px 9px 9px 9px;
  overflow-y: auto;
  &.active {
    left: 0;
  }
}

.popup_wrapper {
  position: fixed; top: 0; left: 0; width: 100%; height: 100%;
  padding: 112px/2 0; overflow-y: auto; z-index: 9000; display: none;
  background: rgba(0, 0, 0, 0.8);
  &.open {display: block;}
  .popup {
    padding: 0 30px;
    color: #fff;
    i.close1 {
      position: absolute;
      top: 56px/2;
      left: 35px/2;
    }
    .modw {
      text-align: center;
      color: #000;
      position: relative;
      background: #fff;
      border-radius: 7px;
      padding: 30px 10px 10px 10px;
      margin-top: 150px;
      h2 {
        margin: 0 0 10px;
        font-size: 35px/2;
        font-weight: bold;
        text-transform: uppercase;
      }
      p {
        font-size: 14px;
      }
      a {margin-top: 12px;width: 100%;}
      .db {
        overflow: hidden;
        a {
          width: 48%;
          &:first-child {float: left;}
          &:last-child {float: right;}
        }
      }
    }
    .multi {
      margin: 0 -10px 0 0;
      h2 {
        font-size: 23px;
        font-weight: bold;
        line-height: 26px;
        margin: 13px 0 72px/2;
      }
      ul {
        line-height: 33px/2;
        div.icon {
          float: left;
          width: 52px/2;
          padding: 2px 0 0 0;
        }
        li {
          margin: 0 0 17px;
        }
        h4 {
          font-size: 17px;
        }
        p {
          font-size: 12px;
        }
      }
    }
    .achiv {
      p {
        text-align: center;
        color: #ff4800;
        font-size: 18px;
        text-transform: uppercase;
        font-weight: bold;
        margin: 18px 0 0 0;
      }
    }
    .zv_wrap {
      margin: -5px -30px 0;
    }
    .buy {
      padding: 20px 0 0 0;
      color: #fff;
      h2 {
        font-size: 38px/2;
        font-weight: bold;
      }
      p {
        font-size: 16px;
        line-height: 25px;
        margin: 0 0 20px;
      }
      ul.checklist {
        li {
          color: #fff;
          span {
            color: #ff5a34;
          }
        }
      }
    }
    .label {
      font-size: 17px;
      color: #ff4800;
      margin: 0 -20px;
      line-height: 22px;
      text-align: center;
      span {display: block;}
      strong {
        font-size: 18px;
        font-weight: bold;
        text-transform: uppercase;
      }
    }
    .pop_carusel {
      .owl-controls {
        margin: 5px 0 20px;
        .owl-page {
          span {
            background: #fff;
            width: 8px;
            height: 8px;
            margin: 0 6px;
          }
          &.active {
            span {
              background: none;
              border: 1px solid #f19700;
            }
          }
        }
      }
    }
  }
}

@media (-webkit-min-device-pixel-ratio: 2) {
  .box {
    background-size: 49px / 2;
  }
  .login .white.q {
    background-size: 220px 139px !important;
  }
}