* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  font-family: 'Roboto Slab';
}
body button {
  font-family: 'Roboto Slab';
  cursor: pointer;
}
body hr {
  border-bottom: 1px solid #dedede;
}
body i.icon.back {
  width: 17px;
  height: 15px;
  background: url(../img/back.png) no-repeat;
  background-size: 100%;
  display: inline-block;
  vertical-align: -3px;
}
body i.icon.ava {
  width: 69px;
  height: 69px;
  background: url(../img/ava.png) no-repeat;
  background-size: 100%;
  display: block;
  margin: 0 auto;
}
body i.icon.vk {
  width: 123.5px;
  height: 22px;
  background: url(../img/vk.png) no-repeat;
  background-size: 100%;
  display: block;
  margin: 0 auto;
}
body i.icon.fb {
  width: 103px;
  height: 20.5px;
  background: url(../img/fb.png) no-repeat;
  background-size: 100%;
  display: block;
  margin: 0 auto;
}
body i.icon.menu {
  width: 16.5px;
  height: 14px;
  background: url(../img/menu.png) no-repeat;
  background-size: 100%;
  display: inline-block;
  vertical-align: -3px;
  margin: 0 0 0 10px;
}
body i.icon.close {
  width: 14px;
  height: 14px;
  background: url(../img/close.png) no-repeat;
  background-size: 100%;
  display: inline-block;
  vertical-align: -3px;
  margin: 0 0 0 10px;
}
body i.icon.close1 {
  width: 20.5px;
  height: 20.5px;
  background: url(../img/close1.png) no-repeat;
  background-size: 100%;
  display: block;
}
body i.icon.wallet {
  width: 16px;
  height: 16px;
  background: url(../img/wellet.png) no-repeat;
  background-size: 100%;
  display: inline-block;
  vertical-align: -2px;
  margin: 0 13.5px 0 0;
}
body i.icon.to {
  width: 8px;
  height: 12.5px;
  background: url(../img/to.png) no-repeat;
  background-size: 100%;
  display: block;
}
body i.icon.to_gray {
  width: 8px;
  height: 12.5px;
  background: url(../img/to_gray.png) no-repeat;
  background-size: 100%;
  display: block;
}
body i.icon.m1 {
  background: url('../img/1.png') no-repeat scroll top left;
  width: 15px;
  height: 16px;
  background-size: 100%;
  display: inline-block;
  vertical-align: -1.5px;
}
body i.icon.m2 {
  background: url('../img/2.png') no-repeat scroll top left;
  width: 16px;
  height: 16px;
  background-size: 100%;
  display: inline-block;
  vertical-align: -2px;
}
body i.icon.m3 {
  background: url('../img/3.png') no-repeat scroll top left;
  width: 14px;
  height: 11.5px;
  background-size: 100%;
  display: inline-block;
  vertical-align: -1.5px;
}
body i.icon.m4 {
  background: url('../img/4.png') no-repeat scroll top left;
  width: 12px;
  height: 16px;
  background-size: 100%;
  display: inline-block;
  vertical-align: -2.5px;
}
body i.icon.m5 {
  background: url('../img/5.png') no-repeat scroll top left;
  width: 16px;
  height: 15px;
  background-size: 100%;
  display: inline-block;
  vertical-align: -1.5px;
}
body i.icon.m6 {
  background: url('../img/6.png') no-repeat scroll top left;
  width: 15px;
  height: 16px;
  background-size: 100%;
  display: inline-block;
  vertical-align: -2px;
}
body i.icon.m7 {
  background: url('../img/7.png') no-repeat scroll top left;
  width: 17px;
  height: 16px;
  background-size: 100%;
  display: inline-block;
}
body i.icon.m8 {
  background: url('../img/8.png') no-repeat scroll top left;
  width: 13px;
  height: 13px;
  background-size: 100%;
  display: inline-block;
}
body i.icon.m9 {
  background: url('../img/9.png') no-repeat scroll top left;
  width: 13.5px;
  height: 12.5px;
  background-size: 100%;
  display: inline-block;
}
body i.icon.hamb {
  background: url('../img/hamb.png') no-repeat scroll top left;
  width: 28px;
  height: 24.5px;
  background-size: 100%;
  display: inline-block;
  vertical-align: -6.5px;
  margin: 0 2px;
}
body i.icon.hamb_big {
  background: url('../img/hamb_big.png') no-repeat scroll top left;
  width: 58px;
  height: 49.5px;
  background-size: 100%;
  display: inline-block;
}
body i.icon.check {
  background: url('../img/check.png') no-repeat scroll top left;
  width: 12px;
  height: 11.5px;
  background-size: 100%;
  display: inline-block;
}
body i.icon.clock {
  background: url('../img/clock.png') no-repeat scroll top left;
  width: 11.5px;
  height: 11.5px;
  background-size: 100%;
  display: inline-block;
  vertical-align: -1px;
}
body i.icon.cup {
  background: url('../img/cup.png') no-repeat scroll top left;
  width: 12px;
  height: 13.5px;
  background-size: 100%;
  display: inline-block;
  vertical-align: -2px;
}
body i.icon.reward {
  background: url('../img/reward.png') no-repeat scroll top left;
  width: 8.5px;
  height: 14px;
  background-size: 100%;
  display: inline-block;
  vertical-align: -3px;
}
body i.icon.map {
  background: url('../img/map.png') no-repeat scroll top left;
  width: 16px;
  height: 21px;
  background-size: 100%;
  display: inline-block;
}
body i.icon.price {
  background: url('../img/price.png') no-repeat scroll top left;
  width: 12.5px;
  height: 12.5px;
  background-size: 100%;
  display: inline-block;
  vertical-align: -2.5px;
  margin: 0 8.5px 0 1.5px;
}
body i.icon.price.red {
  background: url('../img/price_red.png') no-repeat scroll top left;
  background-size: 100%;
}
body i.icon.timer {
  background: url('../img/timer.png') no-repeat scroll top left;
  width: 14px;
  height: 14px;
  background-size: 100%;
  display: inline-block;
  vertical-align: -2px;
  margin: 0 8.5px 0 0;
}
body i.icon.timer.red {
  background: url('../img/timer_red.png') no-repeat scroll top left;
  background-size: 100%;
}
body i.icon.p_count {
  background: url('../img/count.png') no-repeat scroll top left;
  width: 8px;
  height: 11px;
  background-size: 100%;
  display: inline-block;
  vertical-align: -0.5px;
  margin: 0 12px 0 2.5px;
}
body i.icon.p_count.red {
  background: url('../img/p_count_red.png') no-repeat scroll top left;
  background-size: 100%;
}
body i.icon.hand {
  background: url('../img/hand.png') no-repeat;
  background-size: 100%;
  width: 74.5px;
  height: 27.5px;
  display: block;
  position: absolute;
  top: 20px;
  left: -9px;
}
body i.icon.hand.right {
  background: url('../img/hand_right.png') no-repeat;
  background-size: 100%;
  left: auto;
  right: -9px;
}
body i.icon.lock {
  width: 22.5px;
  height: 26px;
  background: url('../img/lock.png') no-repeat;
  background-size: 100%;
  display: inline-block;
}
body i.icon.ac {
  width: 57.5px;
  height: 57.5px;
  background: url('../img/ac.png') no-repeat;
  background-size: 100%;
  display: block;
  text-align: center;
  float: left;
  position: relative;
  padding: 16px 0 0 0;
}
body i.icon.ac i.c {
  position: absolute;
  top: 12.5px;
  right: 12.5px;
  height: 10px;
  min-width: 10px;
  color: #fff;
  background: #b20c35;
  font-size: 9px;
  border-radius: 10px;
  line-height: 10px;
}
body i.icon.ac.p {
  background: url('../img/acp.png') no-repeat;
  background-size: 100%;
  padding: 13.5px 0 0 0;
}
body i.icon.error {
  width: 142px;
  height: 111.5px;
  background: url('../img/error.png') no-repeat;
  background-size: 100%;
  display: block;
  position: absolute;
  top: -94.5px;
  left: 50%;
  margin: 0 0 0 -71px;
}
body i.icon.inf {
  width: 119.5px;
  height: 119.5px;
  background: url('../img/inf.png') no-repeat;
  background-size: 100%;
  display: block;
  position: absolute;
  top: -103px;
  left: 50%;
  margin: 0 0 0 -59.75px;
}
body i.icon.sure {
  width: 117px;
  height: 116.5px;
  background: url('../img/sure.png') no-repeat;
  background-size: 100%;
  display: block;
  position: absolute;
  top: -101.5px;
  left: 50%;
  margin: 0 0 0 -58.5px;
}
body i.icon.ok {
  width: 119.5px;
  height: 120px;
  background: url('../img/sure.png') no-repeat;
  background-size: 100%;
  display: block;
  position: absolute;
  top: -98.5px;
  left: 50%;
  margin: 0 0 0 -59.75px;
}
body i.icon.ul_check {
  background: url('../img/ul_check.png') no-repeat;
}
body i.icon.ul_uncheck {
  background: url('../img/ul_uncheck.png') no-repeat;
}
body i.icon.ul_check,
body i.icon.ul_uncheck {
  width: 16.5px;
  height: 16.5px;
  background-size: 100%;
  display: block;
}
body i.icon.pop_line {
  width: 273px;
  height: 52px;
  background: url('../img/pop_line.png') no-repeat;
  background-size: 100%;
  display: block;
  margin: 4px auto 0;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 25px;
  padding: 6px 0 0;
}
body i.icon.zv {
  width: 302.5px;
  height: 71px;
  background: url('../img/zv.png') no-repeat;
  background-size: 100%;
  display: block;
  margin: 0 auto;
  text-align: center;
  padding: 12px 0 0 0;
  font-size: 18px;
  color: #ff4800;
  text-transform: uppercase;
  font-weight: bold;
}
body i.icon.zv span {
  display: block;
  font-size: 55px;
  margin: -18px 0 0 0;
}
body a {
  color: #ec8d00;
}
body a:hover {
  text-decoration: none;
}
body .uiswitch {
  width: 51px;
  height: 32px;
  border-radius: 50px;
  background: #eee;
  display: inline-block;
  padding: 2px;
  cursor: pointer;
  transition: all 0.2s ease;
  outline: none;
}
body .uiswitch:focus {
  outline: none;
}
body .uiswitch .handle {
  height: 28px;
  width: 28px;
  background: #ffffff;
  border-radius: 28px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
}
body .uiswitch.active {
  background: #fda016;
  padding-left: 21px;
}
body.ovh {
  overflow: hidden;
}
.btn_orange {
  background: linear-gradient(to bottom, #ffb234 0%, #fc9400 100%);
  height: 44px;
  line-height: 44px;
  display: block;
  margin: 0 auto;
  color: #fff;
  font-size: 17px;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
  box-shadow: inset 0 -1px 1px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  width: 215px;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  /*&:hover {
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.2);
    background: #dd820b;
  }*/
}
.btn_gray {
  background: linear-gradient(to bottom, #ffb234 0%, #fc9400 100%);
  height: 44px;
  line-height: 44px;
  display: block;
  margin: 0 auto;
  color: #fff;
  font-size: 17px;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
  box-shadow: inset 0 -1px 1px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  width: 215px;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  /*&:hover {
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.2);
    background: #dd820b;
  }*/
  width: auto;
  background: linear-gradient(to bottom, #d8d8d8 0%, #bebebe 100%);
  color: #000000;
  text-shadow: 0 1px 0 #fff;
  /*&:hover {
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.3);
    background: #9c9c9c;
  }*/
}
.btn_vk {
  background: linear-gradient(to bottom, #ffb234 0%, #fc9400 100%);
  height: 44px;
  line-height: 44px;
  display: block;
  margin: 0 auto;
  color: #fff;
  font-size: 17px;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
  box-shadow: inset 0 -1px 1px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  width: 215px;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  /*&:hover {
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.2);
    background: #dd820b;
  }*/
  margin: 0 0 16px;
  width: auto;
  background: linear-gradient(to bottom, #4d75a3 0%, #336196 100%);
  padding: 11px 0 0 0;
  /*&:hover {
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.3);
    background: #214f96;
  }*/
}
.btn_fb {
  background: linear-gradient(to bottom, #ffb234 0%, #fc9400 100%);
  height: 44px;
  line-height: 44px;
  display: block;
  margin: 0 auto;
  color: #fff;
  font-size: 17px;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
  box-shadow: inset 0 -1px 1px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  width: 215px;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  /*&:hover {
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.2);
    background: #dd820b;
  }*/
  margin: 0 0 27px;
  width: auto;
  background: linear-gradient(to bottom, #5879c2 0%, #3f5d9d 100%);
  padding: 10px 0 0 0;
  /*&:hover {
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.3);
    background: #2f4799;
  }*/
}
.title {
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 16.5px;
}
.title a {
  float: left;
}
.title a.r {
  float: right;
  margin: 0 16px 0 0;
}
.box {
  background: url(../img/bg.png) repeat;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  padding: 9.5px;
  margin: 0 0 10px;
}
.box.blue {
  background: #276ca8;
}
.box.blue .white {
  background: none;
  border: none;
  color: #fff;
  padding: 10.5px;
  padding-bottom: 5px !important;
}
.box.blue .white img {
  width: 235px;
  display: block;
  margin: 10px auto 0;
}
.box .white {
  background: #fff;
  border: 1px solid #dedede;
  border-radius: 3px;
  padding: 10.5px;
}
.box .white.p {
  padding-top: 48px;
}
.box .white.q {
  background: #ffffff url(../img/q.png) 50% 9px no-repeat;
}
.box .white.text {
  padding: 20px;
}
.box .white.text h3 {
  font-size: 15px;
  margin: 0 0 10px;
  font-weight: bold;
}
.box .white.text p {
  font-size: 12px;
  line-height: 16.5px;
  font-weight: 200;
}
.box .white.mission h2 {
  font-size: 19px;
  font-weight: bold;
}
.box .white.achievements h2 {
  font-size: 19px;
  font-weight: bold;
}
.box .white.achievements h2 a {
  color: #19558a;
}
.box .white.achievements h2 span {
  color: #d1d1d1;
}
.box .avatar {
  width: 123.5px;
  height: 123.5px;
  margin: 0 auto 35.5px;
  background: #fff;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.15);
  border-radius: 7px;
  padding: 10px;
}
.box .avatar .w {
  background: #f2f2f2;
  height: 103.5px;
  padding: 17.5px 0 0 0;
  border-radius: 3px;
}
.box .agree {
  text-align: center;
  font-size: 11px;
  font-weight: 200;
  line-height: 19px;
}
.box .agree p {
  margin: 10px 0 10px;
}
div.menu {
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  margin: 0 0 10px;
  background: #fff;
}
div.menu b.r {
  position: absolute;
  display: block;
  width: 8px;
  height: 12.5px;
  top: 50%;
  right: 11.5px;
  margin: -6.25px 0 0 0;
}
div.menu div.wallet {
  background: linear-gradient(to bottom, #ac0038 0%, #93002f 100%);
  border-radius: 5px 5px 0 0;
  height: 44px;
  line-height: 44px;
  font-size: 17px;
  padding: 0 11.5px;
  position: relative;
}
div.menu div.wallet span {
  font-weight: bold;
  text-transform: uppercase;
  padding: 0 0 0 25px;
}
div.menu div.wallet a {
  color: #fff;
}
div.menu .user_field {
  overflow: hidden;
  position: relative;
  color: #093357;
  margin: 0 11.5px;
  padding: 7px 0;
  border-bottom: 1px solid #c1c1c1;
}
div.menu .user_field p {
  margin: 0 0 0 75px;
  padding: 0 0 8px 0;
}
div.menu .user_field p.name {
  font-size: 14px;
  font-weight: bold;
  color: #000;
  padding: 4px 0 6px 0;
  display: block;
}
div.menu .user_field p span {
  font-size: 12px;
  color: #000;
  padding: 0 5px 0 0;
}
div.menu .user_field p span em {
  color: #0d4d84;
}
div.menu .user_field p span i.icon {
  vertical-align: -1px;
  margin: 0 5px 0 0;
}
div.menu .user_field img {
  width: 62px;
  float: left;
}
div.menu .user_field b.r {
  right: 0;
}
div.menu .user_field .line {
  height: 8.5px;
  background: #a6cbea;
  margin: 0 17px 0 75px;
}
div.menu .user_field .line .active {
  height: 8.5px;
  background: #0c4c83;
  width: 45%;
}
div.menu .dl_field {
  position: relative;
  margin: 0 11.5px;
  padding: 7px 0;
  border-bottom: 1px solid #c1c1c1;
}
div.menu .dl_field a {
  color: #093357;
}
div.menu .dl_field span.m {
  float: right;
  margin: 2px 22px 0 0;
  font-size: 14px;
  color: #000;
}
div.menu .dl_field span.m i {
  color: #e10000;
}
div.menu .dl_field p {
  font-size: 12px;
  color: #7c7c7c;
  padding: 5px 0 2px 0;
}
div.menu .dl_field div.icon {
  width: 29px;
  float: left;
  margin: 0 0 10px;
}
div.menu .dl_field b.r {
  right: 0;
}
div.menu .field {
  position: relative;
  height: 43.5px;
  line-height: 43.5px;
  margin: 0 11.5px;
  border-bottom: 1px solid #c1c1c1;
}
div.menu .field a {
  color: #093357;
}
div.menu .field:last-child {
  border: none;
}
div.menu .field div.icon {
  width: 29px;
  float: left;
}
div.menu .field b.c {
  float: right;
  margin: 0 22px 0 0;
  font-size: 12px;
  color: #19558a;
}
div.menu .field i.count {
  height: 24.5px;
  line-height: 24.5px;
  padding: 0 8px;
  color: #0c4c83;
  min-width: 24.5px;
  text-align: center;
  margin: 9px 22px 0 0;
  background: #d5d5d5;
  float: right;
  font-size: 15px;
  border-radius: 20px;
}
div.menu .field b.r {
  right: 0;
}
div.menu a {
  text-decoration: none;
  display: block;
}
.login {
  background: #f5970e;
  padding: 35px 9px 9px 9px;
}
.welcome_page {
  background: #f4f4f8;
}
.welcome_page section.carusel {
  background: #1187c4;
  text-align: center;
  font-weight: 200;
  padding: 55px 0 0 0;
  color: #fff;
  overflow: hidden;
  box-shadow: 0 0 30px #004568;
  margin: 0 0 35px;
}
.welcome_page section.carusel img {
  display: block;
  margin: 0 auto 15px;
  width: 276.5px;
}
.welcome_page section.carusel h4 {
  font-size: 14px;
  line-height: 17px;
  margin: 0 0 15px;
}
.welcome_page section.carusel p {
  font-size: 10px;
  line-height: 14px;
  margin: 0 0 30px;
}
.welcome_page section.carusel .item {
  padding: 0 30px;
}
.welcome_page section.carusel .owl-controls {
  margin: 0 0 20px;
}
.welcome_page section.carusel .owl-controls .owl-page span {
  background: #fff;
  width: 8px;
  height: 8px;
  margin: 0 4px;
}
.welcome_page .btns {
  text-align: center;
}
.welcome_page .btns .btn_orange {
  margin-bottom: 30px;
}
.welcome_page .btns p {
  font-weight: 200;
  font-size: 13px;
  margin: 0 0 30px;
}
.welcome_page .btns p a {
  color: #ec8d00;
}
.welcome_page .btns p a:hover {
  text-decoration: none;
}
.inner {
  background: #0c4c83;
  padding: 35px 9px 9px 9px;
}
.missions {
  background: #f5970e;
  padding: 35px 9px 9px 9px;
}
.mission_elem {
  margin: 12px 0 0 0;
}
.mission_elem h3 {
  font-size: 16px;
  font-weight: bold;
  margin: 0 0 15px;
}
.mission_elem img {
  width: 72px;
  float: left;
  margin: 0 0 10px;
  border-radius: 5px;
}
.mission_elem ul.checklist {
  margin: -3px 0 10px 84px;
}
.mission_elem ul.checklist li {
  border-bottom: 1px solid #ead4da;
  font-size: 13px;
  color: #3f3f3f;
  line-height: 18px;
  margin: 0 0 4px;
  padding: 0 0 4px;
}
.mission_elem ul.checklist li i.check {
  float: right;
  margin: 3px 0 0 10px;
}
.mission_elem ul.checklist li:last-child {
  border: none;
  margin: 0;
}
.mission_elem a.btn_orange,
.mission_elem a.btn_gray {
  width: 100%;
  clear: both;
}
.mission_elem a.btn_orange.mt,
.mission_elem a.btn_gray.mt {
  margin: 10px 0 0 0;
}
.mission_elem div.reward {
  clear: both;
  overflow: hidden;
  font-size: 13px;
  margin: 0 0 10px;
  color: #0d4d84;
}
.mission_elem div.reward em {
  color: #b20c35;
}
.mission_elem div.reward span {
  width: 33.3%;
  display: block;
  float: left;
}
.mission_elem div.reward span i.icon {
  margin: 0 6.5px 0 0;
}
.shop_elem {
  margin: 12px 0 0 0;
}
.shop_elem h3 {
  font-size: 16px;
  font-weight: bold;
  margin: 0 0 15px;
}
.shop_elem img {
  width: 72px;
  float: left;
  margin: 0 0 10px;
  border-radius: 5px;
}
.shop_elem ul.checklist {
  margin: -3px 0 10px 84px;
}
.shop_elem ul.checklist li {
  border-bottom: 1px solid #ead4da;
  font-size: 13px;
  color: #3f3f3f;
  line-height: 18px;
  margin: 0 0 4px;
  padding: 0 0 4px;
}
.shop_elem ul.checklist li i.check {
  float: right;
  margin: 3px 0 0 10px;
}
.shop_elem ul.checklist li:last-child {
  border: none;
  margin: 0;
}
.shop_elem a.btn_orange,
.shop_elem a.btn_gray {
  width: 100%;
  clear: both;
}
.shop_elem a.btn_orange.mt,
.shop_elem a.btn_gray.mt {
  margin: 10px 0 0 0;
}
.shop_elem div.reward {
  clear: both;
  overflow: hidden;
  font-size: 13px;
  margin: 0 0 10px;
  color: #0d4d84;
}
.shop_elem div.reward em {
  color: #b20c35;
}
.shop_elem div.reward span {
  width: 33.3%;
  display: block;
  float: left;
}
.shop_elem div.reward span i.icon {
  margin: 0 6.5px 0 0;
}
.shop_elem ul.checklist li {
  border: none;
}
.shop_elem ul.checklist li span {
  color: #0d4d84;
}
.news_elem {
  margin: 0 0 14px;
}
.news_elem:last-child {
  margin: 0;
}
.news_elem h2 {
  margin: 0 0 10px;
  font-weight: bold;
  font-size: 16px;
}
.news_elem img {
  width: 100%;
  margin: 0 0 7px;
}
.news_elem p {
  font-size: 13px;
  color: #3f3f3f;
  line-height: 18px;
}
.news_elem p.date {
  font-size: 11px;
  color: #3f3f3f;
}
.restaurants_elem {
  margin: 20px 0 0 0;
}
.restaurants_elem h2 {
  font-size: 18.5px;
  font-weight: bold;
  margin: 0 0 10px;
}
.restaurants_elem ul li {
  position: relative;
  font-size: 15px;
  color: #3f3f3f;
  height: 30px;
  line-height: 30px;
  border-bottom: 1px solid #e5e5e5;
}
.restaurants_elem ul li:last-child {
  border: none;
}
.restaurants_elem ul li i.round {
  width: 16px;
  height: 16px;
  display: inline-block;
  border: 3px solid #fff;
  border-radius: 20px;
  margin: 0 15px 0 0;
  vertical-align: -4px;
}
.restaurants_elem ul li i.round.blue {
  border-color: #003aa5;
}
.restaurants_elem ul li i.round.red {
  border-color: #ec0d3c;
}
.restaurants_elem ul li i.round.green {
  border-color: #03ac2f;
}
.restaurants_elem ul li span {
  float: right;
  width: 81px;
}
.restaurants_elem ul li b.r {
  position: absolute;
  display: block;
  width: 8px;
  height: 12.5px;
  top: 50%;
  right: 0;
  margin: -6.25px 0 0 0;
}
.cash-box {
  background: #fff;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.25);
  margin: 0 0 10px;
  border-radius: 5px;
}
.cash-box .t {
  background: linear-gradient(to bottom, #ac0038 0%, #93002f 100%);
  border-radius: 5px 5px 0 0;
  height: 44px;
  color: #fff;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  line-height: 44px;
  font-size: 17px;
}
.cash-box .data {
  position: relative;
  padding: 13px 15px 15px;
}
.cash-box .data h1 {
  font-size: 37px;
  font-weight: bold;
  color: #0c4c83;
  text-align: center;
  margin: 0 0 15px;
}
.cash-box .data p {
  font-size: 13px;
  color: #3f3f3f;
  line-height: 18px;
  margin: 0 0 18px;
}
.cash-box .data p a {
  color: #0c4c83;
}
.cash-box .data p:last-child {
  margin: 0;
}
.achievement {
  overflow: hidden;
  margin: 10px 0 0 0;
}
.achievement .d {
  margin: 0 0 0 54px;
  padding: 5px 0 0 0;
}
.achievement .d .name {
  font-weight: bold;
  font-size: 12px;
  margin: 0 0 5px;
}
.achievement .d .line {
  background: #a6cbea;
  height: 14.5px;
}
.achievement .d .line.p {
  background: #dadada;
}
.achievement .d .line .active {
  height: 14.5px;
  width: 35%;
  background: #0c4c83;
}
aside {
  transition: all 0.2s ease;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: -100%;
  background: #f5970e;
  padding: 35px 9px 9px 9px;
  overflow-y: auto;
}
aside.active {
  left: 0;
}
.popup_wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 56px 0;
  overflow-y: auto;
  z-index: 9000;
  display: none;
  background: rgba(0, 0, 0, 0.8);
}
.popup_wrapper.open {
  display: block;
}
.popup_wrapper .popup {
  padding: 0 30px;
  color: #fff;
}
.popup_wrapper .popup i.close1 {
  position: absolute;
  top: 28px;
  left: 17.5px;
}
.popup_wrapper .popup .modw {
  text-align: center;
  color: #000;
  position: relative;
  background: #fff;
  border-radius: 7px;
  padding: 30px 10px 10px 10px;
  margin-top: 150px;
}
.popup_wrapper .popup .modw h2 {
  margin: 0 0 10px;
  font-size: 17.5px;
  font-weight: bold;
  text-transform: uppercase;
}
.popup_wrapper .popup .modw p {
  font-size: 14px;
}
.popup_wrapper .popup .modw a {
  margin-top: 12px;
  width: 100%;
}
.popup_wrapper .popup .modw .db {
  overflow: hidden;
}
.popup_wrapper .popup .modw .db a {
  width: 48%;
}
.popup_wrapper .popup .modw .db a:first-child {
  float: left;
}
.popup_wrapper .popup .modw .db a:last-child {
  float: right;
}
.popup_wrapper .popup .multi {
  margin: 0 -10px 0 0;
}
.popup_wrapper .popup .multi h2 {
  font-size: 23px;
  font-weight: bold;
  line-height: 26px;
  margin: 13px 0 36px;
}
.popup_wrapper .popup .multi ul {
  line-height: 16.5px;
}
.popup_wrapper .popup .multi ul div.icon {
  float: left;
  width: 26px;
  padding: 2px 0 0 0;
}
.popup_wrapper .popup .multi ul li {
  margin: 0 0 17px;
}
.popup_wrapper .popup .multi ul h4 {
  font-size: 17px;
}
.popup_wrapper .popup .multi ul p {
  font-size: 12px;
}
.popup_wrapper .popup .achiv p {
  text-align: center;
  color: #ff4800;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: bold;
  margin: 18px 0 0 0;
}
.popup_wrapper .popup .zv_wrap {
  margin: -5px -30px 0;
}
.popup_wrapper .popup .buy {
  padding: 20px 0 0 0;
  color: #fff;
}
.popup_wrapper .popup .buy h2 {
  font-size: 19px;
  font-weight: bold;
}
.popup_wrapper .popup .buy p {
  font-size: 16px;
  line-height: 25px;
  margin: 0 0 20px;
}
.popup_wrapper .popup .buy ul.checklist li {
  color: #fff;
}
.popup_wrapper .popup .buy ul.checklist li span {
  color: #ff5a34;
}
.popup_wrapper .popup .label {
  font-size: 17px;
  color: #ff4800;
  margin: 0 -20px;
  line-height: 22px;
  text-align: center;
}
.popup_wrapper .popup .label span {
  display: block;
}
.popup_wrapper .popup .label strong {
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
}
.popup_wrapper .popup .pop_carusel .owl-controls {
  margin: 5px 0 20px;
}
.popup_wrapper .popup .pop_carusel .owl-controls .owl-page span {
  background: #fff;
  width: 8px;
  height: 8px;
  margin: 0 6px;
}
.popup_wrapper .popup .pop_carusel .owl-controls .owl-page.active span {
  background: none;
  border: 1px solid #f19700;
}
@media (-webkit-min-device-pixel-ratio: 2) {
  .box {
    background-size: 24.5px;
  }
  .login .white.q {
    background-size: 220px 139px !important;
  }
}
